# OS files
.DS_Store
.DS_Store?
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/

#Documents
docs/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Data directories
data_minidev/
mini_dev_data/
llm/mini_dev_data/
*.sqlite
*.db

# Evaluation Results & Outputs
eval_result/
exp_result/
llm/exp_result/
*.log

#Aent Skills & Workflow
.agents/
skills-lock.json
llm/src/text2sql_agent/index/metadata.pkl
llm/src/text2sql_agent/index/schema_index.faiss
